:root {
    font-size: 10px;

    --odin-blue: #1993d5;
    --odin-orange: #f0b429;
    --odin-mid-gray: #e2e8f0;
    --odin-dark-gray: #636363;
    --odin-box-shadow: 1px 2px 3px 0px #bfbfbf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

input,
button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    font: inherit;
}

button {
    cursor: pointer;
}

img {
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}

.icon {
    cursor: initial;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

    background-color: var(--odin-mid-gray);
    margin: 0;
    padding: 0;
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

header {
    grid-column: 2;
    background-color: #fff;
    padding: .5rem 2.5rem;
    padding-right: 4rem;
    box-shadow: var(--odin-box-shadow);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    gap: .5rem 1rem;

    >form {
        grid-column: 1 / 8;
        display: grid;
        grid-template-columns: 1fr 13fr;
        align-items: center;

        button {
            background-color: transparent;
            padding: 0;
            margin: 0;
            text-align: left;

            img.icon {
                vertical-align: middle;
                cursor: pointer;
            }
        }

        label {
            padding: 0;
            margin: 0;
            position: relative;

            span {
                position: absolute;
                top: .5rem;
                left: 1rem;
                color: var(--odin-mid-gray);
                z-index: -1;
                visibility: hidden;
            }

            input {
                background-color: var(--odin-mid-gray);
                border-radius: 1rem;
                width: 100%;
                margin: 0;
                padding: .35rem .75rem;
                color: var(--odin-dark-gray);
            }
        }
    }

    .notifications {
        justify-self: end;
        cursor: pointer;
    }

    .profile-link {
        grid-column: 9 / 11;
        justify-self: start;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        column-gap: .5rem;


        .name-link {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .name-greeting {
        grid-column: 2 / 8;

        .name {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: .5rem;
        }

        .greeting {
            font-size: 90%;
            font-weight: bold;
        }
    }

    button.blue-btn {
        padding: .5rem 1.75rem;
        background-color: var(--odin-blue);
        border-radius: 1.5rem;
        color: #fff;
        font-weight: bold;
    }
}

nav {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: var(--odin-blue);
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    row-gap: 3rem;

    li {
        display: grid;
        grid-template-columns: 3rem auto;
        align-items: center;
        column-gap: .5rem;

        img.icon {
            justify-self: center;
        }
    }

    li:first-of-type {
        font-size: 1.65rem;
    }

    li:not(:last-of-type) {
        margin-bottom: 1.2rem;
    }

    li.nav-link.main.first {
        margin-top: 3rem;
    }

    li.nav-link.conf.first {
        margin-top: 4rem;
    }

    img.icon {
        vertical-align: middle;
    }
}

main {
    grid-column: 2;
    grid-row: 2 / -1;
    padding: 1.5rem 1rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5rem;

    .sec-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }

    .card {
        background-color: #fff;
        border-radius: .5rem;
        box-shadow: var(--odin-box-shadow);
        padding: 1.5rem;
    }

    .projects {
        grid-column: 1;
        grid-row: 1 / 3;

        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            gap: 1.5rem;
            align-items: stretch;

            .card {
                border-left: .5rem solid var(--odin-orange);
                display: grid;
                align-items: start;

                .card-title {
                    font-size: 1.15rem;
                    font-weight: bold;
                    margin-bottom: .15rem;
                }

                .card-body {
                    font-size: 90%;
                    color: var(--odin-dark-gray);
                }

                .card-footer {
                    align-self: end;
                    margin-top: 1rem;
                    display: grid;
                    grid-template-columns: min-content min-content min-content;
                    grid-auto-flow: column;
                    grid-auto-columns: min-content;
                    align-items: center;
                    justify-items: end;
                    justify-content: end;
                    column-gap: 2rem;

                    img.icon {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .announcements {
        grid-row: 1;

        .announcement {
            .announce-head {
                font-size: 90%;
                font-weight: bold;
                margin-bottom: .1rem;
            }

            .announce-body {
                font-size: 70%;
                color: var(--odin-dark-gray);
            }

            &:not(:last-of-type) {
                border-bottom: 1px solid #ccc;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    .trending {
        grid-row: 2;

        .trendy-profiles {
            display: grid;
            grid-template-columns: auto auto;
            gap: 1rem .5rem;

            .trendy-name,
            .trendy-about {
                font-size: 90%;
            }

            .trendy-about {
                color: var(--odin-dark-gray);
            }
        }
    }
}